<div class="appPage">
    <div class="row">
        <div class="col-lg-4 smallcircle">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.png" class="logostyle" style="display: inline-block;">
            </a>

            <p class="sentence">We make it Super Simple</p>
            <a class="navbar-brand" href="#">
                <img src="/assets/images/collect_img-video.png" class="handshakingimg" style="display: inline-block;">
            </a>
            <a class="navbar-brand" href="#">
                <img src="/assets/images/accounting_dots.png" class="accountingdots" style="display: inline-block;">
            </a>

        </div>
        <div class="col-lg-8 bigcircle">

            <ul class="nav justify-content-end headercontent">
                <li class="nav-item">
                    <a class="nav-link active headernametxt" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headernametxt" href="#">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headernametxt" href="#">Pricing</a>
                </li>
                <li class="nav-item loginbtnright">
                    <button type="button" class=" navbtn logintxtcolor">Login</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="navbtn getreadybtn">Get Started</button>
                </li>
            </ul>

            <a class="navbar-brand" href="#">
                <img src="/assets/images/Group.png" class="group">
            </a> 

        </div>
        <a class="navbar-brand" href="#">
            <img src="/assets/images/accounting_dots.png" class="formbottomaccountingdots">
        </a>
    </div>
    <br />
    <div class="secondlayer">
        <div class="row">
            <div class="col-md-3">
                <div class="card cardclass">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/Get_Paid_Instantly.png" class="getpaid">
                    </a>
                    <div class="card-body cardbodycss">
                        <p class="card-text cardtextcss">Quick cash disbursement</p>
                        <p class="card-text cardtextwithoutboldcss">Get terms loans that your business needs within 72
                            hrs
                        </p>
                    </div>
                </div>
                <div class="card cardclass spacebetweencard">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/Low_interest rate.png" class="getpaid">
                    </a>
                    <div class="card-body cardbodycss">
                        <p class="card-text cardtextcss">Low-interest rate</p>
                        <p class="card-text cardtextwithoutboldcss">Achieve your financial goals with an amazing
                            interest
                            rate starting at 13% per annum</p>
                    </div>
                </div>
                <div class="card cardclass spacebetweencard">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/Secure_Payments.png" class="getpaid">
                    </a>
                    <div class="card-body cardbodycss">
                        <p class="card-text cardtextcss">Zero Paperwork</p>
                        <p class="card-text cardtextwithoutboldcss">Get started instantly by submitting only your basic
                            details & bank statements</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 secondDiv">
                <div class="card cardclass">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/feature.png" class="getpaid">
                    </a>
                    <div class="card-body cardbodycss">
                        <p class="card-text cardtextcss">Ace your business finances</p>
                        <p class="card-text cardtextwithoutboldcss">Manage banking, accounting & everything in between,
                            on one platform
                        </p>
                    </div>
                </div>
                <div class="card cardclass spacebetweencard">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/covid.png" class="getpaid">
                    </a>
                    <div class="card-body cardbodycss">
                        <p class="card-text cardtextcss">Loans to fight COVID-19</p>
                        <p class="card-text cardtextwithoutboldcss">Zero EMI for first 3 months on Back-to-Business
                            loans of upto 1 lakh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <p class="secondsentence">Boost your business with Open</p>
                <p class="thirdsentence">Get your hands on a term loan that’s crafted for your business</p>
                <button type="button" class=" navbtn accountbtn">Get an Open Account</button>
            </div>
        </div>
    </div>
</div>